<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NDSCalculator.ndscalculator">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/dsh_logo"
        android:label="NDS Calculator"
        android:roundIcon="@drawable/dsh_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.NDSCalculator.ndscalculator.legalInfo"
            android:exported="false"
            android:noHistory="true"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9877834407809121~9892700686" />

        <activity
            android:name="com.NDSCalculator.ndscalculator.CaseCustom"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case15"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case14"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case13"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case12"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case11"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case10"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case9"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case8"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case7"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case6"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case5"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case4"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case3"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case2"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.Case1"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.SeeTables"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.SeeEquations"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name="com.NDSCalculator.ndscalculator.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.NDSCalculator.ndscalculator.CalculatorLanding"
            android:exported="false"
            android:noHistory="true"></activity>
    </application>

</manifest>