<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ndscalculator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dsh_logo"
        android:label="NDS Calculator"
        android:roundIcon="@drawable/dsh_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9877834407809121~9892700686"/>
        <activity
            android:name=".CaseCustom"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case15"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case14"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case13"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case12"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case11"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case10"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case9"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case8"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case7"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case6"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case5"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case4"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case3"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case2"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".Case1"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".SeeTables"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".SeeEquations"
            android:exported="false"
            android:noHistory="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalculatorLanding"
            android:exported="false"
            android:noHistory="true">
        </activity>

    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>